// App layout
$container-max-width: 102rem;
$container-padding: 1rem;
$container-total-width: $container-max-width + $container-padding * 2;

// Base Breakpoints
$screen-mobile: 376px;
$screen-tablet: 812px;
$screen-desktop: 1023px;
$screen-desktop-l: 1366px;
$screen-full-hd: 1950px;
$screen-2k: 2250px;
$screen-4k: 2700px;

// Color
$pallete: (
    app-background: rgb(255, 255, 255),
    page-background: rgb(248, 250, 251),
    back-background: rgba(#979797, 15%),
    section-background-light: #F8FAFB,
    section-background-dark: #000,
    text-primary: #2A3540,
    text-secondary: #BCC6CF,
    text-gray: #768490,
    text-light: #ffffff,
    blockquote-text: #323E48,
    highlight: #F1162F,
    blackhole: #000,
    icon: #E5204A,
    link: #25a6d2,
    placeholder: rgba(19, 44, 63, .6),
    line: rgb(237, 242, 245),
    line-dark: rgb(116, 121, 123),
);
